body {
    margin: auto;
    text-align: center;
    background-image: url("Disney.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
     font-family: 'Walt Disney Script', arial;
}

header {
    color:#ddd;
}

form {
    width: 70%;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 30px;
    background-color: gray;
    opacity: .8;
    box-shadow: 10px 10px 8px black;
    padding-top: 20px;
    
}

#dropdown {
    width: 70%;
}

#Events {
    width: 70%;
    height: auto;
}

.info {
    width: 70%;
    margin-bottom: 20px;
}

#number {
    margin-bottom: 0px;
}

input {
    font-size: 15px;
 
}

figcaption {
    padding-top: 20px;
    font-size: 20px;
    text-transform: uppercase;
}

.label {

    font-size: 20px;
    text-transform: uppercase;
}

#submit {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
